.restaurants_card{
    margin-top: 18px;
    @include Box-shadow-cards;
    border-radius: $small-radius;
    &_image {
        height: 175px;
        display: flex;
        border-radius: $small-radius $small-radius 0 0;
        position: relative;
        overflow: hidden;
        img{
            object-fit: cover ;
            height: auto;
            min-width: 100%;
        }
    }
    &_info{
        padding: 12px 14px;
        display: flex;
        justify-content: space-between;
    }
    &_like{
        &::before{
            padding: 8px 12px 0 0;
            z-index: 100;
        }
        @include like-button(23px);
    }
}

.restaurant_status{
    position: absolute;
    top: 13px;
    right: 13px;
    width: 80px;
    height: 30px;
    background-color: $tertiary-color;
    color: #008766;
    text-align: center;
    padding-top: 5px;
    font-size: 14px;
    border-radius: 3px;
}