body{
    @include font-family(Roboto);
}

h1,
h2,
h3{
    font-weight: 500;
}

h1{
    @include font-family(Shrikhand);
    font-size: 18px;
}

h2{
    font-size: 24px;
}

h3{
    font-size: 18px;
}

p,
h4{
    font-size: 16px;
    font-weight: 300;
}

.soft{
    font-weight: 300;
}