.loading {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    position: fixed;
    text-align: center;
    z-index: 999;
    width: 100%;
    height: 100%;
    transform: scale(0);
    font-size: 60px;
    animation: appear linear;
    background-color: white;
    opacity: 0;
    @include random-number;
    i{
        animation: loading ease-out;
        @include random-number-load;
        opacity: 0;
    }

}

.location{
    height: 50px;
    text-align: center;
    padding: 14px 5%;
    background-color: $dark-back;
    box-shadow: inset 0px 10px 8px -12px $very-dark-back;
    @include responsive(900){
        text-align: left;
    }
    h4{
        font-weight: 400;
        display: inline-block;
    }
    h4::before{
        @include fa-icon("\f3c5",$solid-icon);
        padding-right: 18px;
        font-size: 18px;
    }
}

.intro-banner{
    text-align: center;
    background-color: $light-back;
    padding: 35px 5%;
    min-height: 235px;
    @include responsive(900){
        background: url("../img/restaurants/gastronomique.jpg") no-repeat center, rgba(255,255,255,0.6);
        background-size: cover;
        background-blend-mode: overlay;
    }
    h1{
        @include font-family(Roboto);
        font-size: 24px;
        padding: 0 45px;
        line-height: 1.2em;
        margin-bottom: 8px;
    }
    p{
        font-size: 18px;
        line-height: 1.2em;
        font-weight: 200;
    }
}

.how-to{
    margin: 45px 0 70px 0;
    padding: 0 5%;
    @include responsive(700){
        margin: 25px 0;
    }
    @include responsive(1160){
        border-bottom: $dark-back 2px solid;
        margin-bottom: 0;
    }
    &_list{
        margin-top: 30px;
        @include responsive(1160){
            display: flex;
        }
    }
    &_list-item {
        display: flex;
        align-items: center;
        margin: 0 0 25px 4%;
        height: 70px;
        width: 95%;
        background-color: $light-back;
        @include Box-shadow-cards(#CFCFCF);
        border-radius: $small-radius;
        transition: all 0.5s;
        @include responsive(700){
            border-radius: 0;
            box-shadow: none;
            background-color: white;
            margin-left: 0;
        }
        &::before{
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $primary-color;
            width: 24px;
            height: 24px;
            border-radius: $very-small-radius;
            color: white;
            margin-left: -13px;
            @include responsive(700){
                width: 50px;
                height: 50px;
                border-radius: $medium-radius;
                margin-left: 3px;
            }
        }
        @include how-to-number-icon;
        &:hover{
            background-color: $colored-back;
            p::before{
                color: $primary-color;
            }
        }
        p{
            display: flex;
            align-items: center;
            font-weight: 400;
            @include how-to-figure-icon;
            @include responsive(700){
                font-size: 18px;
            }
            &::before{
                color: #7e7e7e;
                padding: 0 24px;
            }
        }
        
    }
}

.restaurants{
    padding: 0 3%;
    @include responsive(1160){
        padding: 0;
        margin-bottom: 25px;
    }
    &_list{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        @include responsive(700){
            flex-direction: row;
            flex-wrap: wrap;
        }
    }
}

