// Colors

$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
$box-shadow-color: #cfcfcf;

// Background Colors

$very-dark-back: #353535;
$dark-back: #eaeaea;
$light-back: #f6f6f6;
$colored-back: #f5edff;

// Icon types

$solid-icon: --fa-font-solid;
$regular-icon: --fa-font-regular;

// Border-radius values
$very-small-radius: 12px;
$small-radius: 20px;
$medium-radius: 25px;
$medium-big-radius: 35px;
$big-radius: 50px;