/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Set default settings links */
a {
  cursor: pointer;
  text-decoration: none;
  color: black;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
body {
  font-family: Roboto, sans-serif;
}

h1,
h2,
h3 {
  font-weight: bold;
}

h1 {
  font-family: "Shrikhand", cursive;
  font-size: 18px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 18px;
}

p {
  font-size: 16px;
  font-weight: 300;
}

.button {
  width: 218px;
  height: 50px;
  margin: 28px 0;
  color: white;
  font-weight: 400;
  font-size: 16px;
  border-radius: 25px;
  box-shadow: 5px 2px 12px #cfcfcf;
  background: #FF79DA;
  background: linear-gradient(180deg, #ff79da 0%, #9356dc 100%);
  border: none;
}

.fa-icon::before,
.fa-icon::after {
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

.footer {
  background-color: #353535;
}

.logo {
  margin: 0 auto;
  width: 100%;
  padding: 22px 0 12px 0;
}
.logo a {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  position: relative;
}
.logo a img {
  width: 162px;
}
.logo i {
  font-size: 20px;
  position: absolute;
  left: 5%;
  top: 7px;
}

main {
  margin: 0 auto;
  padding: 20px 5%;
}

.location {
  height: 50px;
  text-align: center;
  padding: 14px 5%;
  background-color: #eaeaea;
  box-shadow: inset 0px 10px 8px -12px #353535;
}
.location p {
  font-weight: 400;
  display: inline-block;
}
.location p::before {
  font: var(--fa-font-solid);
  content: "\f3c5";
  padding-right: 18px;
  font-size: 18px;
}

.intro-banner {
  text-align: center;
  background-color: #f6f6f6;
  padding: 35px 5%;
}
.intro-banner h1 {
  font-family: Roboto, sans-serif;
  font-size: 24px;
  padding: 0 45px;
  line-height: 1.2em;
  margin-bottom: 8px;
}
.intro-banner p {
  font-size: 18px;
  line-height: 1.2em;
  font-weight: 200;
}

.how-to {
  margin: 45px 0;
  padding: 0 5%;
}
.how-to_list {
  margin-top: 30px;
}
.how-to_list-item {
  display: flex;
  margin: 0 0 25px 5%;
  padding-top: 22px;
  height: 70px;
  width: 95%;
  background-color: #f6f6f6;
  box-shadow: 0px 8px 17px 2px #CFCFCF;
  border-radius: 20px;
  transition: all 0.5s;
}
.how-to_list-item::before {
  background-color: #9356DC;
  width: 24px;
  height: 24px;
  border-radius: 12px;
  color: white;
  margin: 2px 0 0 -4%;
  text-align: center;
  padding: 7px 0 0 1px;
}
.how-to_list-item.step1::before {
  font: var(--fa-font-solid);
  content: "\31";
  font-size: 12px;
}
.how-to_list-item.step2::before {
  font: var(--fa-font-solid);
  content: "\32";
  font-size: 12px;
}
.how-to_list-item.step3::before {
  font: var(--fa-font-solid);
  content: "\33";
  font-size: 12px;
}
.how-to_list-item:hover {
  background-color: #f5edff;
}
.how-to_list-item:hover p::before {
  color: #9356DC;
}
.how-to_list-item p {
  font-weight: 400;
}
.how-to_list-item p.step1::before {
  font: var(--fa-font-solid);
  content: "\f3cd";
  font-size: 18px;
}
.how-to_list-item p.step2::before {
  font: var(--fa-font-solid);
  content: "\f03a";
  font-size: 18px;
}
.how-to_list-item p.step3::before {
  font: var(--fa-font-solid);
  content: "\f54e";
  font-size: 18px;
}
.how-to_list-item p::before {
  color: #7e7e7e;
  padding: 6px 24px 0 24px;
}

/*# sourceMappingURL=main.css.map */
